body{
	text-align: justify;
	background-color:orange;
	font-family: 'Syne Mono', monospace;
	margin:0px;
	font-size: 15px;
	line-height: 5px;
        font-style:italic;
}

header{
	background-color:#000000;
	text-align: center;
	padding: 10px;
	font-family: chalkduster, markerfelt, monospace, rockwell;
}

header h1{
    color:#d40000;
    font-size: 30px;
}


header img{
	border-radius: 200px;
	width:300px;
	border:15px solid #ffa500d9;
	size:auto
	margin-top:0px;
	padding-top: 25px;
}

main img{
	max-width: 800px;
	margin: auto;

}

main{
	max-width: 800px;
	margin:auto;
	padding: 50px;
}

h2{
	font-size:25px;
	text-align: center;
	color:red;
	font-family: 'Balsamiq Sans', cursive;
	text-decoration:underline;
}

a{
	color:yellow;
	font-size: 15px;
}

a:hover{
	color:white;
	background-color: red;
}

footer{background-color:#121116;
	color:white;
	font-family: calibri;
	padding: 0px;
	text-align: center
}

footer img{
	border-radius: 300px;
	max-width: 270px;
	max-height: 75px;
	float: left;
}


p{
	font-weight: bold;
}

p.caption{
	color:white;
	font-family:calibri;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 28px
}

video{
	max-width: 800px;
}


